<section>
  <div class="container py-5">
    <div class="card p-3 shadow-lg  ">
      <div class="row p-3">
        <div class="col-6 pic text-center shadow-sm ">
          <img
          src="../../../../assets/images/studing.png"
          class="img-fluid my-3"
          alt=""
        />

        <p class="description">
          Here is the automated system
        </p>


        </div>
        <div class="col-6 text-center">
          <form action="" class="py-3">
            <p class="py-2">
              <img
              src="../../../../assets/images/logo.svg"
              class="img-fluid img"
              alt=""

            />
            </p>
            <hr/>
            <h1 class="py-3">Attendance Login</h1>
            <p>
              <mat-form-field appearance="outline">
                <mat-label>Enter your username</mat-label>
                <input matInput placeholder="NIT/STAFF/123">
                <mat-icon matSuffix><fa-icon [icon]="faUser"></fa-icon></mat-icon>
                <mat-hint>Hint</mat-hint>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="outline">
                <mat-label>Enter your Password</mat-label>
                <input matInput placeholder="************">
                <mat-icon matSuffix><fa-icon [icon]="faEye"></fa-icon></mat-icon>
                <mat-hint>Hint</mat-hint>
              </mat-form-field>
            </p>
            <button mat-stroked-button class="text-uppercase py-4">login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
