<div class="container shadow p-3">
  <h1>Students</h1>
  <!-- <app-table [HeadArray]="headArray" [GridList]="userList"></app-table> -->



  <table class="table table-hover table-bordered">
    <thead >
      <tr class="text-capitalize">
        <th scope="col">s/n</th>
        <th scope="col">Program</th>
        <th scope="col">Module</th>
        <th scope="col">Number of Student</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let timetable of allLecturerTimetable;let sr = index" class="py-5" (click)="navigate()">
        <th scope="row">{{sr+1}}</th>
        <td>{{timetable.module.program.program_name}}</td>
        <td>{{timetable.module.module_name}}</td>
        <td>{{timetable.module.number_of_students}}</td>
        <td>{{timetable.module_day}}</td>
      </tr>
    
    </tbody>
  </table>
</div>

