<div class="profile-card container">

    <img src="../../../../assets/images/logo.png" alt="">

    </div>
    <mat-divider></mat-divider>


    <mat-divider></mat-divider>

<mat-nav-list>



    <a mat-list-item routerLinkActive=""list-item-active routerLink="/">
    <mat-icon class="mat-18">dashboard</mat-icon>  Dashboard
    </a>
    <a mat-list-item routerLinkActive=""list-item-active routerLink="/department"><mat-icon >account_balance</mat-icon>Department</a>
    <a mat-list-item routerLinkActive=""list-item-active routerLink="/venue"><mat-icon >room</mat-icon>Venues</a>
    <a mat-list-item routerLinkActive=""list-item-active routerLink="/ca_result">  <mat-icon>assessment</mat-icon> CA Result</a>

    <a mat-list-item routerLinkActive=""list-item-active routerLink="/venue"><mat-icon>room</mat-icon> Venue</a>
    <a mat-list-item routerLinkActive=""list-item-active routerLink="/attendance"><mat-icon>assignment_ind</mat-icon> Attendance</a>





    </mat-nav-list>

