<div class="profile-card container">
  <img src="../../../../assets/images/logo.png" alt="" />
</div>
<mat-divider></mat-divider>

<mat-divider></mat-divider>

<mat-nav-list>
  <a mat-list-item routerLinkActive="" list-item-active routerLink="/">
    <fa-icon [icon]="faGauge"></fa-icon>Dashboard
  </a>
  <a mat-list-item routerLinkActive="" list-item-active routerLink="/module"
    ><fa-icon [icon]="faBookOpenReader"></fa-icon>Modules</a
  >
  <a mat-list-item routerLinkActive="" list-item-active routerLink="/students"
    ><fa-icon [icon]="faGraduationCap"></fa-icon>Student</a
  >
  <!-- <a
    mat-list-item
    routerLinkActive=""
    list-item-active
    routerLink="/attendance"
  >
  <fa-icon [icon]="faClipboardUser"></fa-icon>Attendance</a
  > -->
</mat-nav-list>
