img{

  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid red;
  position: absolute;
  top: -2em;
  left: 0;
  background-color: rgb(53, 189, 156) !important;
  color: #fff;


}
