<div class="container">
  <div class="row">
    <div class="col-4" *ngFor="let cardSetting of cardSetting">
      <app-card
        [contentTemplate]="contentTemplate"
        [cardSetting]="cardSetting"
      ></app-card>
      <ng-template #contentTemplate>
        <div class="container-fluid position-relative bg-primary rounded">
          <div class="row p-3">
            <div class="col-6 text-capitalize">
              <h3 class="text-capitalize">module name</h3>
              <h3 class="text-capitalize">module code</h3>
              <h3 class="text-capitalize">number of students</h3>
              <h3 class="text-capitalize">venue</h3>
              <h3 class="text-capitalize">day</h3>
              <h3 class="text-capitalize">time</h3>
            </div>
            <div class="col-6 text-start">
              <h3 class="text-capitalize">Operating System</h3>
              <h3 class="text-uppercase">ITU07021</h3>
              <h3 class="text-capitalize">230</h3>
              <h3 class="text-uppercase">MPH</h3>
              <h3 class="text-capitalize">monday</h3>
              <h3 class="text-capitalize">17:00 - 19:00</h3>
            </div>
          </div>
        </div></ng-template
      >
    </div>
  </div>
</div>
